/* Reset */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/* Base */

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
         "wdth" 100;
}

:root {
    --radius-sm: 12px;
    --radius: 24px;
    --padding-sm: 1rem;
    --padding: 1.5rem;
    --padding-lg: 2rem;
    --gap-sm: 0.8rem;
    --gap: 1rem;
    --gap-md: 1.2rem;
    --gap-lg: 2rem;
    --clr-main: #080808;
    --clr-hover: white;
    --fs-lg: 1.5rem;
    --fs-md: 1rem;
    --fs-sm: 0.9rem;
}

body {
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

h2 {
    font-size: var(--fs-lg);
    font-weight: 500;
}

/* Style */

.header__mobile {
    display: none;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.content__wrapper {
    min-width: 960px;
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: var(--gap-lg);
    justify-items: center;
    align-items: center;
    width: clamp(800px, 80vw, 1200px);
    height: 60%;
    margin: 0 auto;
}

/* Logo */

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo > img {
    width: 120px;
    height: auto;
}

/* Sidebar */

.sidebar__wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 8fr 1fr;
    padding: var(--padding);
    gap: var(--gap-lg);

    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.sidebar__items {
    display: grid;
    gap: var(--gap-lg);
    overflow: hidden;
    overflow-y: scroll;
    padding-right: var(--gap-sm);
}

.sidebar__options {
    display: grid;
    grid-template-rows: repeat(3, 24px);
    gap: var(--gap-md);
}

.sidebar__options__btn__new-chat,
.sidebar__options__btn__search,
.sidebar__options__btn__new-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--clr-main);
    padding: var(--padding-sm);
    border: 1px solid white;
    transition: background 0.2s, transform 0.2s;
    color: white;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.history__btn {
    display: none;
}

.sidebar__options__btn__new-chat:hover,
.sidebar__options__btn__search:hover,
.sidebar__options__btn__new-project:hover {
    cursor: pointer;
    background: var(--clr-hover);
    color: var(--clr-main);
    transform: translateY(-2px);
}

.sidebar__history {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.history__list {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fill, 48px);
    gap: var(--gap-sm);
    max-height: 250px;
}

.sidebar__items::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--clr-main);
}

.sidebar__items::-webkit-scrollbar
{
    width: 2px;
    background-color: white;
}

.sidebar__items::-webkit-scrollbar-thumb
{
    background-color: white;
}

.history__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--padding-sm);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: background 0.2s, transform 0.2s;
    max-height: 64px;
    font-size: var(--fs-sm);

    background: rgba(255, 255, 255, 0.1);
}

.history__item:hover {
    cursor: pointer;
    background-color: var(--clr-hover);
    color: var(--clr-main);
    transform: translateX(4px);
}

.sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--gap);
}

.sidebar__profile__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
    transition: transform 0.2s;
}

.sidebar__profile__info:hover {
    cursor: pointer;
    transform: translatey(-2px);
}

.sidebar__profile__name {
    justify-self: start;
}

.sidebar__profile__avatar__img {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar__profile__logout__img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    justify-self: flex-end;
    transition: transform 0.2s;
}

.sidebar__profile__logout__img:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

/* Chat */

.chat__wrapper {
    width: 100%;
    height: 100%;
    padding: var(--padding);
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;

    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.chat__select_model {
    font-size: var(--fs-lg);
    border-bottom: 1px solid var(--clr-hover);
}

.chat__message {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.chat__message__input {
    margin: 0;
    padding: 8px;
    min-width: 80%;
    height: 2.5rem;
    outline: none;
    border: none;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
}

.chat__message__send_button {
    display: flex;
    height: 2.5rem;
    width: 15%;
    justify-content: center;
    align-items: center;
    padding: var(--padding-sm);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

    transition: background 0.2s, transform 0.2s;
    color: white;
}

.send_text {
    display: none;
}

.chat__message__send_button:hover {
    cursor: pointer;
    background: var(--clr-hover);
    color: var(--clr-main);
    transform: translateY(-2px);

    .send_text {
        display: block;
        color: var(--clr-main);
    }

    .chat__message__send_icon {
        display: none;
    }
}

.chat__message__send_icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
    transition: transform 0.2s;
}

.chat__message__send:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.chat__messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    padding: var(--padding);
}

.chat__messages__message:nth-child(2n+1) {
    align-self: flex-start;
    color: var(--clr-hover);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: var(--padding-sm);
}

.chat__messages__message:nth-child(2n) {
    align-self: flex-end;
    background-color: var(--clr-hover);
    color: var(--clr-main);
    padding: var(--padding-sm);
}

@media (max-height: 858px) {
    .sidebar__history {
        display: none;
    }

    .sidebar__options {
        grid-template-rows: repeat(4, 24px);
        gap: var(--gap-md);
    }

    .sidebar__items {
        grid-template-rows: auto 1fr;
        overflow-y: hidden;
    }

    .history__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: var(--padding-sm);
        border: 1px solid white;
        transition: background 0.2s, transform 0.2s;
        color: white;

        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
}

@media (max-width: 1078px) {
    /* Header */
    .header__mobile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: var(--padding);
        gap: var(--gap-lg);
    }

    .hamburger {
        height: 28px;
        width: 28px;
    }

    .hamburger:hover {
        transform: translateY(-2px);
        cursor: pointer;
    }

    .sidebar__wrapper {
        display: none;
    }

    .chat__wrapper {
        border-radius: 0;
    }

    .container {
        grid-template-rows: 1fr 15fr;
    }

    .content__wrapper {
        min-width: 0;
        display: flex;
        width: 100vw;
        height: 100%;
    }
}