/* Reset */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/* Base */

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
         "wdth" 100;
}

:root {
    --radius-sm: 12px;
    --radius: 24px;
    --padding-sm: 1rem;
    --padding: 1.5rem;
    --padding-lg: 2rem;
    --gap-sm: 0.8rem;
    --gap: 1rem;
    --gap-md: 1.2rem;
    --gap-lg: 2rem;
    --clr-black: #080808;
    --clr-gray: #2e2e2e;
    --fs-lg: 1.5rem;
    --fs-md: 1rem;
    --fs-sm: 0.9rem;
}

body {
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

h2 {
    font-size: var(--fs-lg);
    font-weight: 500;
}

/* Style */

.header__mobile {
    display: none;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.content__wrapper {
    min-width: 960px;
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: var(--gap-lg);
    justify-items: center;
    align-items: center;
    width: clamp(800px, 80vw, 1200px);
    height: 60%;
    margin: 0 auto;
}

/* Logo */

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo > img {
    width: 120px;
    height: auto;
}

/* Sidebar */

.sidebar__wrapper {
    display: grid;
    justify-content: space-between;
    height: 100%;
    grid-template-rows: 1fr 3fr 8fr;
    padding: var(--padding);
    background: var(--clr-black);
    gap: var(--gap-lg);
}

.sidebar__options {
    display: grid;
    grid-template-rows: repeat(3, 24px);
    gap: var(--gap-md);
}

.sidebar__options > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--clr-black);
    padding: var(--padding-sm);
    border: 1px solid white;
    transition: background 0.2s, transform 0.2s;
    color: white;
}

.sidebar__options > button:hover {
    cursor: pointer;
    background: var(--clr-gray);
    transform: translateY(-2px);
}

.sidebar__history {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.history__list {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fill, 48px);
    gap: var(--gap-sm);
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: var(--gap-sm);
}

.history__list::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--clr-black);
}

.history__list::-webkit-scrollbar
{
    width: 2px;
    background-color: white;
}

.history__list::-webkit-scrollbar-thumb
{
    background-color: white;
}

.history__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--padding-sm);
    border: 1px solid var(--clr-gray);
    transition: background 0.2s, transform 0.2s;
    max-height: 64px;
    font-size: var(--fs-sm);
}

.history__item:hover {
    cursor: pointer;
    background-color: var(--clr-gray);
    transform: translateX(4px);
}

.sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--gap);
}

.sidebar__profile__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
    transition: transform 0.2s;
}

.sidebar__profile__info:hover {
    cursor: pointer;
    transform: translatey(-2px);
}

.sidebar__profile__name {
    justify-self: start;
}

.sidebar__profile__avatar__img {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar__profile__logout__img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    justify-self: flex-end;
    transition: transform 0.2s;
}

.sidebar__profile__logout__img:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

/* Chat */

.chat__wrapper {
    background: var(--clr-black);
    width: 100%;
    height: 100%;
    padding: var(--padding);
}

.chat__select_model {
    font-size: var(--fs-lg);
}

@media (max-width: 1078px) {
    .header__mobile {
        display: block;
    }

    .sidebar__wrapper {
        display: none;
    }

    .chat__wrapper {
        border-radius: 0;
    }

    .container {
        grid-template-rows: 1fr 15fr;
    }

    .content__wrapper {
        min-width: 0;
        display: flex;
        width: 100vw;
        height: 100%;
    }
}